/* ====================================
 * Custom style for handle specificity
 * 
 * Last Update: 25-07-2017
 * ==================================== */

/* Utilities */
.no-pad {
    padding: 0;
}
.clip-img-circle {
    clip-path: circle(40% at center);
}

/* Override bootstrap style */
.bootstrap-select {
    width: 100% !important;
}
.dropdown-menu .text {
    color: #000;
}
.dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Override style.css */
.user-data .profile-buttons {
    float: right;
}
.avatar {
    margin-top: 15px; 
    width: 100%;
    max-width: 250px;
}
.navbar {
    z-index: 20;
}

/* Gamestore section */
.gs-section__title {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.gs-section__subtitle {
    font-size: 16px;
    text-align: center;
}

/* Navbar */
.gs-navbar-menu {
    position: relative;
    top: -10px;
}
.gs-navbar-menu__icon {
    position: relative;
    top: 6px;
}

/* Top Nav */
.topnav a span {
    position: relative;
    top: -6px;
}
.topnav .active {
    position: relative;
}
.topnav .active::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid #FFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* Top Games List */
.top-games-list {
    position: relative;
}
.top-games-list__h4 {
    max-width: 184px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
    margin-left: 15px;
}
.top-games-list__btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* Gamestore list */
.gs-list {
    display: block;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 20px 0;
}
.gs-list-item {
    cursor: pointer;
    display: inline-block;
    padding: 6px 24px;
    margin: 5px;
    border-radius: 50px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.gs-list-item:hover {
    border-color: #F44336;
    color: #F44336;
}

/* Gamestore play iframe */
.card-play {
    background: #131417;
    border-radius: 10px;
}
.card-play-user {
    padding: 10px;
    margin-bottom: 10px;
}
.card-play__icon-show {
    display: block;
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(../images/icon-minimize.png);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.5;
    z-index: 1005;
}
.card-play__icon-exit {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    background: #F44336;
    border-radius: 10px;
}
.card-play .body {
    padding: 0;
}
.gs-play-iframe {
    display: block;
    margin: 0 auto;
    border: 0;
    width: 100%;
}
